* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

#header {
    height: 80px;
}

#header h3 {
    margin-left: 20px;
    padding-top: 30px;
    display: inline-block;
}

#main-content {
    min-height: 260px;
}

#footer {
    margin-top: 20px;
}

#footer p {
    font-size: .9em;
}

.box {
    height: 250px;
    width: 250px;
    background-color: #ccc;
    display: inline-block;
    border: 2px #555 solid;
    text-align: center;
}

.box h2 {
    margin-top: 30px;
}

.box p {
    margin-top: 10px;
}

.activities {
    width: 90%;
    height: 300px;
    background-color: #ccc;
    overflow: scroll;
}

.activity {
    font-size: .95em;
}

.r {
    color: red;
}

.g {
    color: green;
}