<!DOCTYPE html>
<html>
<head>
    <title>Edit {{ user.name }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1> Edit User {{ user.name }}</h1>
<form action="{% url 'update_user' id=user.id %}" method='post'>
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Full Name: </label>
        <input type="text" class="form-control" id="name" placeholder="Ex: John Doe" name='name'>
    </div>
    <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" class="form-control" id="email" placeholder="123@don'tstealthis.com" name='email'>
    </div>
    <button type="submit" class="btn btn-primary" value='submit'>Submit</button>
</form>
</body>
</html>