<!DOCTYPE html>
<html>
<head>
    <title>Session Words</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>

        #wrapper {
            width: 100%;
            height: 100%;
            display: block;
        }

        #left-half {
            width: 50%;
            height: 100%;
            display: inline-block;
            vertical-align: top;
        }

        #right-half {
            width: 50%;
            height: 100%;
            display: inline-block;
            vertical-align: top;
        }

    </style>
</head>
<body>
<div id='wrapper'>
    <div id='left-half'>
        <h1>Add a new word</h1>
        <p>* will only take the first word of a string *</p>
        <form class='form-group' action='/session_words/add_to_session/' method='post'>
            {% csrf_token %}
            <div class='form-control'>
                <input type='text' name='word' id='word'>
            </div>
            <label for='optradio'>Choose color</label>
            <div class="radio">
                <label><input type="radio" name="color" id='optradio' value='red'>Red</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="color" id='optradio' value='green'>Green</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="color" id='optradio' value='blue'>Blue</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name='big_text' value="">show in BIG fonts!</label>
            </div>
            <button type='submit' class='btn btn-primary'>Add to Session</button>
        </form>
    </div><!--

	 -->
    <div id='right-half'>
        <form class='form-group' action='/session_words/clear_session/' method='post'>
            {% csrf_token %}
            <button type='submit' class='btn btn-danger'>Clear Session</button>
        </form>
        <div class='words-box'>
            {% for word in data %}
                <p><span
                        style='color: {{ word.color|safe }}; font-size: {{ word.big_text|safe }}em'>{{ word.word }}</span>
                    <span style='font-size: .7em;'>-added on {{ word.created_at }}</span></p>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>