<!doctype html>
<html lang="en">

<head>
    <title>PyMySQL</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <h2 class="my-4 font-weight-bold">These are my friends!</h2>

        <table class="table table-hover table-bordered table-striped w-75 mb-5">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Occupation</th>
                </tr>
            </thead>
            <tbody>
                {% for friend in friends: %}
                <tr>
                    <td>{{ friend['first_name'] }}</td>
                    <td>{{ friend['last_name'] }}</td>
                    <td>{{ friend['occupation'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="my-4 font-weight-bold"><u>Add a friend</u></h2>
        <form action='/insert' , method='post'>
            <div class="form-group row">
                <label for="first_name" class="col-2 text-right text-primary font-weight-bold">First name:</label>
                <input type="text" name="first_name" id="first_name" class="form-control col-4">
            </div>
            <div class="form-group row">
                <label for="last_name" class="col-2 text-right text-primary font-weight-bold">Last name:</label>
                <input type="text" name="last_name" id="last_name" class="form-control col-4">
            </div>
            <div class="form-group row">
                <label for="occupation" class="col-2 text-right text-primary font-weight-bold">Occupation:</label>
                <input type="text" name="occupation" id="occupation" class="form-control col-4">
            </div>
            <div class='form-group row'>
                <div class='col-4 offset-2 text-right'>
                    <input type='submit' value='Add' class='btn btn-primary shadow'>
                </div>
            </div>
        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>