<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <title>Login and Registration</title>
</head>

<body>

    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand font-weight-bold" href="wall.html">Coding Dojo Wall (Simplified)</a>
            <ul class="nav navbar-dark justify-content-end">
                <li class="nav-item"><a href="#" class="text-white nav-link">
                        <i class="fas fa-user"></i> Sign Up</a></li>
                <li class="nav-item"><a href="#" class="text-white nav-link">
                        <i class="fas fa-sign-in-alt"></i> Log In</a></li>
            </ul>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="row h1 m-3">Login and Registration</div>
        <div class="row">
            <!-- REGISTRATION SECTION -->
            <div class="col-md-5 ml-3">
                <h3 class="col-md-8">Register Here!</h3>
                <form action='/createUser' , method='post'>
                    <div class="col-md-8 form-group">
                        <input class="form-control" name="first_name" placeholder="First Name" type="text">
                    </div>
                    {% with errors = get_flashed_messages(category_filter=["first_name"]) %}
                    {% if errors %}
                    <div class="col-md-8 form-group text-danger">
                        {%- for msg in errors %}
                        {{ msg }}
                        {% endfor -%}
                    </div>
                    {% endif %}
                    {% endwith %}

                    <div class="col-md-8 form-group">
                        <input class="form-control" name="last_name" placeholder="Last Name" type="text">
                    </div>
                    {% with errors = get_flashed_messages(category_filter=["last_name"]) %}
                    {% if errors %}
                    <div class="col-md-8 form-group text-danger">
                        {% for msg in errors %}
                        {{ msg }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    <div class="col-md-8 form-group">
                        <input class="form-control" name="email" placeholder="Email" type="text">
                    </div>
                    {% with errors = get_flashed_messages(category_filter=["email"]) %}
                    {% if errors %}
                    <div class="col-md-8 form-group text-danger">
                        {% for msg in errors %}
                        {{ msg }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}


                    <div class="col-md-8 form-group">
                        <input class="form-control" name="password" placeholder="Password" type="password">
                    </div>
                    {% with errors = get_flashed_messages(category_filter=["password"]) %}
                    {% if errors %}
                    <div class="col-md-8 form-group text-danger">
                        {% for msg in errors %}
                        {{ msg }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}


                    <div class="col-md-8 form-group">
                        <input class="form-control" name="confirmpassword" placeholder="Confirm Password"
                            type="password">
                    </div>
                    {% with errors = get_flashed_messages(category_filter=["confirmpassword"]) %}
                    {% if errors %}
                    <div class="col-md-8 form-group text-danger">
                        {% for msg in errors %}
                        {{ msg }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}


                    <div class="col-md-8 form-group">
                        <input class="btn btn-success" type="submit" value="Register">
                    </div>

                </form>
            </div>

            <!-- LOGIN SECTION -->
            <div class="col-md-5">
                <h3 class="col-md-8">Login Here!</h3>

                <form action='/login' , method='post'>
                    {% with errors = get_flashed_messages(category_filter=["login_status"]) %}
                    {% if errors %}
                    {% for msg in errors %}
                    <div class="col-md-8 form-group text-danger"> {{ msg }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <div class="col-md-8 form-group">
                        <input class="form-control" name="email" placeholder="Email" type="text">
                    </div>

                    <div class="col-md-8 form-group">
                        <input class="form-control" name="password" placeholder="Password" type="password">
                    </div>

                    <div class="col-md-8 form-group">
                        <input class="btn btn-primary" type="submit" value="Login">
                    </div>

                </form>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>
